/*desktop*/
@media (min-width:1024px) {
    header {
        .menusmartp {
            display: none;
        }
        .tituloylogosmart{
            display: none;
            
           }
            .titulosmart{
                display: none;
                
            }
    }

    main {
        .novedadesindex{
            font-size: 35px;
        }
        .news {
            font-size: 40px;
        }
    
        .newsl {
            font-size: 30px;
    
        }
    }
}

/*tablet*/
@media(min-width:481px) and (max-width:1023px) {
    header {
        .menusmartp {
            display: flex;
        }

        .logoinicio {
            display: none;
        }

        .navdesk {
            display: none;
        }

        .titulos {
            display: none;
        }
        .tituloylogo{
            display: none;
           
        }
        .titulosmart{
            font-size: 44px;
            text-align: center;
        }

    }
    main{
        .news {
            font-size: 34px;
        }
    
        .newsl {
            font-size: 26px;
    
        }
    }

}

/*smartphone*/
@media (max-width:480px) {
    header {

        .menusmartp {
            display: flex;
        }

        .logoinicio {
            display: none;
        }

        .navdesk {
            display: none;
        }

        .titulos {
            display: none;
        }
        .tituloylogo{
            display: none;
           
        }
        .titulosmart{
            font-size: 31px;
            text-align: center;
        }

    }

    main {
       .presentacion {
            display: flex;
            align-items: center;

        }

        .catalogo {
            display: flex;
            align-items: center;
        }

        .news {
            font-size: 28px;

        }

        .newsl {
            font-size: 18px;

        }

        .carousel {
            width: 65%;
        }
    }

}