/*desktop*/
@media (min-width:1024px) {
    main {
        .men {
            display: none;
        }

        .iconos .fa-brands {
            justify-content: center;

        }

    }

}


/*tablet*/
@media(min-width:481px) and (max-width:1023px) {
    header{
        
    }
    
    main {
        .offcanvas-title {
            display: flex;
        }

        .carousel-inner {
            display: flex;
            align-items: center;
        }
    }
}

/*smartphone*/
@media (max-width:480px) {
    header {
    
        .menusmartp {
            display: block;
        }

        img .g-col-3 {
            display: none;
        }
        .navdesk {
            display: none;
        }
        ul .naveg{
            display: none;
        }
    }
    main {
        .carousel-inner {
            display: flex;
            align-items: center;
        }

        .carousel-item {
            align-items: center;
            width: 90%;
            height: 90%;
        }


    }

}