footer {
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-bottom: 50px;
    background-color: map-get($map: $colores, $key:back );
    color: map-get($map: $colores, $key: letrasprincipales );
    .iconos i.fa-brands {
        display: flex;
        font-weight: 400px;
        align-items: center;
        justify-content: space-evenly;
        font-size: xx-large;
        padding-left: 10px;
        padding-top: 20px;
        width: 50px;
        vertical-align: none;
        color: map-get($map: $colores, $key: letrasprincipales);
    }
 
    }
   
   