footer {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: beige;
    color: beige;
 
   
    
        
        
    
    }
    .c {
        display: flex;
        font-size: medium;
        align-items: end;



    }
    h4 {  
    color:rgb(122, 122, 216) ;
    font-size: 45px;
    text-align: center;
    }
    h5.newsl {
     color:rgb(122, 122, 216) ;
    font-size: 25px;
    text-align: center;
    }
    .col-12{
        align-items: center;
        text-align: center;
    }
   .btn{
    align-items: center;
    color: rgb(122, 122, 216);
    }
    button {
        display: flex;
        align-items: center;
        color:rgb(122, 122, 216); 
    }

