.header {
    h1 .telefono {
        color: map-get($map: $colores, $key: letrasprincipales);
        display: flex;
        justify-content: left;
        font-size: 14px;
        margin-left: 8px;
        margin-top: 10px;
    }

    .logoinicio {
        border-radius: 10%;

    }
    h1.titulos {
        display: flex;
        text-align: center;
        font-size: 55px;
        margin-top: 8px;
        font-weight: bold;
        color: map-get($map: $colores, $key: letrasprincipales);
        justify-content: center;
    }

    .navdesk {
        color: map-get($map: $colores, $key: letrasprincipales);
        font-weight: bold;
        font-size: x-large;
        text-align: justify;
        text-decoration: none;
        margin: 7px 12px 17px 6px;
        padding: 10px 12px 10px 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .menusmartp {
        display: none;
    }
}