header {
    .telefono{
        display: flex;
        color: map-get($map: $colores, $key: letrasprincipales );
        text-align: left;
        margin-top:5px;
        margin-left: 10px;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
    .logoprincipio{
        width: 30%;
    }
    .logoinicio {
        border-radius: 10%;

    }
    h1.titulos {
        display: flex;
        text-align: center;
        font-size: 55px;
        margin-top: 8px;
        font-weight: bold;
        color: map-get($map: $colores, $key: letrasprincipales);
        justify-content: center;
    }

    .navdesk {
        color: map-get($map:$colores , $key: letrasprincipales);
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        margin: 7px 12px 17px 6px;
        padding: 10px 12px 10px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .menusmartp {
        display: none;
    }
    .menusmart .martnav{
        background-color: map-get($map: $colores, $key:back );
    }
    .boton{
        background-color: map-get($map: $colores, $key:back );
        margin-left:10px ;
    }
    .letrasnav{
        text-align: center;
        font-size:30px ;
        
    }
}