main {
    .tituloformulario .formulario{
        color: map-get($map: $colores, $key: letrasprincipales);
    }
    i.fa-circle-user:before .fa-map-location {
        display: flex;
        font-weight: bold;
        color:map-get($map: $colores, $key: letrasprincipales);
        align-items: end;
        
    }
}