#grid {
    .novedadesindex{
        color: map-get($map: $colores, $key: blanco);
        text-align: center;
        font-size: 40px;
        background-color: map-get($map: $colores, $key: letrasprincipales);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .news {
        font-size: 40px;
        margin-top: 10px;
        text-align: center;
        color: map-get($map: $colores, $key: letrasprincipales);

    }

    .newsl {
        font-size: 30px;
        text-align: center;
        color: map-get($map: $colores, $key: letrasprincipales);

    }

    .formularion {
        align-items: center;
        text-align: center;
        color: map-get($map: $colores, $key: letrasprincipales);

    }

    .formnews {
        display: flex;
        justify-content: center;
        color: map-get($map: $colores, $key: letrasprincipales);

    }


}