main {
    .catalogo {
        article.productoscp {
            box-sizing: content-box;
            margin-top: 2rem;
        }

        .productoscp {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            
            
        }
        h3.productos1 {
            text-align: center;
            font-size: x-large;
            display: flex;
            justify-content: center;
            color: map-get($map: $colores, $key:letrasprincipales)

        }
        .texttop{
            width: 60%;
            text-align: center;
        }
    }
    .marcasdestacadasm {
        color: map-get($map: $colores, $key: blanco);
        text-align: center;
        font-size: 40px;
        background-color: map-get($map: $colores, $key: letrasprincipales);
        grid-area: sub;

    }

    .divmarcas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        grid-area: marcas;
        padding-bottom: 40px;

        .marcas {
            padding-top: 3px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 180px;
            height: 180px;

        }
    }
}