body {
    header {
        .maquillajesback {
            @extend .titulocp;
        }
    }
}

#mainma {

    .nav-link {
        color: map-get($map: $colores, $key: letrasprincipales);
        font-weight: bold;
        font-size: x-large;
        text-align: justify;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }



    .productosm {
        color: map-get($map: $colores, $key: letrasprincipales);
        font-family: Verdana, Tahoma, sans-serif;
        padding-left: 8px;
        margin: 4px;
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: content-box;
    }

    @mixin card ($width, $height) {
        height: $height;
        width: $width;
    }

    .productosm {
        @include card(250px, 370px);
    }

    .productos1 {
        font-size: 25px;
        color: map-get($map: $colores , $key: letrasprincipales);
    }

}

.marcasdestacadasm {
    color: map-get($map: $colores, $key: blanco);
    text-align: center;
    font-size: 30px;
    background-color: map-get($map: $colores, $key: letrasprincipales);
    grid-area: sub;

}

.divmarcas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-area: marcas;
    padding-bottom: 40px;

    .marcas {
        padding-top: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 180px;
        height: 180px;

    }


}